:host{
    display: block;
    height: 20px;
    width: 300x;
    margin: 8px;
    border: 1px solid black;
    background-color: white;
    div{
        background-color: red;
        height: 100%;
        width: 30%;
    }
}