<h1>
    <app-progress-bar [progress] = "counterProgress"></app-progress-bar>
    <app-countdown  #countdown
    
    [init] = "totalCountdown" (onDecrease) = "updateProgress($event)" (onComplete) = "countdownFinished()"
    ></app-countdown>
    <div>
        <label for="totalCountdown">Inicia en:</label>
        <input type="number" id="totalCountdown" [(ngModel)]="totalCountdown" />
    </div>

    <button (click)="countdown.startCounter();counterProgress=0">Reiniciar</button>
</h1>